@model RroleApp.Areas.Hero.Models.HeroOpt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeroOpt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleInGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleInGame)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HeroOptId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
