@model RroleApp.Areas.GuideArea.Models.Guide

@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" href="~/Content/Drop.css" />

@using (Html.BeginForm())
{

    <div class="list">
        <h3 class="_choose">Choose items for your Hero</h3>
        <br />
        @Html.DropDownList("ItemId", (MultiSelectList)ViewBag.Items, new { multiple = "multiple" })
    </div>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Guide</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GuideName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuideName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuideName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeroOptId, "Select a Hero", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HeroOptId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HeroOptId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
